@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');

:root{
   --main-color:#6ea1d8;
   --light-color:#666;
   --light-bg:#eee;
   --white:#fff;
   --black:#303030;
   --border: .1rem solid var(--light-color);
   --box-shodow:0 .5rem 1rem rgba(0,0,0,.1);
   --red:#f30f25;
   --yellow:#f9d23c;
}

*{
   font-family: 'Montserrat', sans-serif;
   margin: 0; padding: 0;
   box-sizing: border-box;
   outline: none; border: none;
   text-decoration: none;
}

*::selection{
   background-color: var(--main-color);
   color: var(--white);
}

html{
   font-size: 80%;
   overflow-x: hidden;
   scroll-behavior: smooth;
  scroll-padding-top: 1rem;
    margin-top: 50px;
}

body{
   background-color: var(--white);

}

section{
   padding: 1rem 1rem;
   /*max-width: 1250px;
   margin: 0 auto;*/
}

.heading{
   text-align: center;
   padding-bottom: 2.5rem;
   font-size: 3rem;
   color: var(--black);
   text-transform: capitalize;
}

.footer {
   background-color: #484872;
   text-transform: none;
   padding: 1.5rem;
   margin-top: 1rem; /* Adjust the margin between the footer and the content above */
}

.footer .flex {
   display: flex;
   flex-wrap: wrap;
   gap: 1rem;
   justify-content: space-between;
}

.footer .flex .box {
   flex: 1 1 20rem;
}

.footer .flex .box a {
   display: block;
   padding: 0.3rem 1.5rem;
   font-size: 1.2rem;
}

.footer .flex .box a span {
   color: whitesmoke;
}

.footer .flex .box a:hover span {
   text-decoration: underline;
}

.footer .flex .box a i {
   color: var(--main-color);
}

.footer .flex .box:last-child {
   text-align: right;
}

.footer .flex .box:last-child a i {
   margin-left: 1rem;
}

.footer .flex .box:first-child a i {
   margin-right: 1rem;
}

.footer .flex .box:nth-child(2) {
   text-align: center;
}

.footer .credit {
   padding: 1rem;
   text-align: center;
   border-top: var(--border);
   font-size: 1rem;
   color: var(--white);
   margin-top: 0.5rem;
}

.footer .credit span {
   color: var(--main-color);
}
